@media only screen and (max-width: 1024px) {
.contentintro{ width: 100%;}
.headingintro{ font-size:39pt;}
.subheadingintro{ font-size:28pt;}
}

@media only screen and (max-width: 980px) {
.contentintro{ width: 100%;}
.logointro img{max-width:100%; height:auto; }
.headingintro{ font-size:30pt;}
.subheadingintro{ font-size:20pt;}
}

@media screen and (max-width:360px) {
.logointro img{max-width:100%; height:auto; }
.headingintro{ font-size:28pt;}
.subheadingintro{ font-size:18pt;}
button{width:155px; height:40px; font-size:16px;}

@media screen and (max-width:320px) {
.contentintro{ width: 92%;}
.logointro img{max-width:100%; height:auto; }
.headingintro{ font-size:26pt;}
.subheadingintro{ font-size:16pt;}	
}